{
    "$schema": "./schemas/config.schema.json",
    "http": {
        "port": 3100
    },
    "logger": {
        "level": "debug",
        "logFilePath": "./.runtime/logs/ss-ai.log",
        "includeSourceLocation": true,
        "includeStackTrace": false
    },
    "promptLog": {
        "enabled": true,
        "filePath": "./.runtime/logs/ss-ai.prompt.log"
    },
    "runtimeFiles": {
        "tempDir": "./.runtime/temp-dev",
        "userDataDir": "./.runtime/user-data-dev"
    }
}
