{
    "$schema": "../schemas/config.schema.json",
    "http": {
        "port": 3100
    },
    "logger": {
        "level": "debug",
        "logFilePath": "./.runtime/logs/ss-ai.log",
        "includeSourceLocation": true,
        "includeStackTrace": false,
        "logDatabaseSql": false
    },
    "promptLog": {
        "enabled": true,
        "filePath": "./.runtime/logs/ss-ai.prompt.log"
    },
    "auth": {
        "mode": "default-user",
        "cookieSecure": false
    },
    "runtimeFiles": {
        "tempDir": "./.runtime/temp-dev",
        "userDataDir": "./.runtime/user-data-dev"
    },
    "models": {
        "mistral.ai": {
            "apiKey": "your api key"
        }
    },
    "defaultModelAssignments": {
        "chat.main": {
            "provider": "mistral.ai",
            "model": "mistral-large-latest"
        },
        "memory.summarize": {
            "provider": "mistral.ai",
            "model": "mistral-small-latest"
        },
        "memory.embed": {
            "provider": "mistral.ai",
            "model": "mistral-embed"
        }
    }
}
